.*
vendor/
venv/
dev.php
local.php
*local.php

/data/**
/apps/**
/public/uploads/**
/public/static/**

!.gitignore
!/public/.htaccess
!/data/
!/apps/
!/data/cache/
!/public/static/
!/public/uploads/

# module not ready
Auth/
