<!DOCTYPE html>
<html data-scheme="horisont" data-size="sm">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Marshal{% endblock %}</title>
        <link href="{{ static('css/accordion.css') }}" rel="stylesheet">
        <link href="{{ static('css/breadcrumbs.css') }}" rel="stylesheet">
        <link href="{{ static('css/button.css') }}" rel="stylesheet">
        <link href="{{ static('css/card.css') }}" rel="stylesheet">
        <link href="{{ static('css/display.css') }}" rel="stylesheet">
        <link href="{{ static('css/flex.css') }}" rel="stylesheet">
        <link href="{{ static('css/forms.css') }}" rel="stylesheet">
        <link href="{{ static('css/sizing.css') }}" rel="stylesheet">
        <link href="{{ static('css/spacing.css') }}" rel="stylesheet">
        <link href="{{ static('css/tables.css') }}" rel="stylesheet">
        <link href="{{ static('css/tabs.css') }}" rel="stylesheet">
        <link href="{{ static('css/theme.css') }}" rel="stylesheet">
        <link href="{{ static('css/type.css') }}" rel="stylesheet">
        <link href="{{ static('css/color-schemes.css') }}" rel="stylesheet">
        <link href="{{ static('css/add.css') }}" rel="stylesheet">
        <link href="{{ static('css/all.min.css') }}" rel="stylesheet">
        <link href="{{ static('css/brands.min.css') }}" rel="stylesheet">
        <link href="{{ static('css/regular.min.css') }}" rel="stylesheet">
        {% block styles %}{% endblock %}
        <script type="module" src="{{ static('js/datastar.js') }}"></script>
        <script src="{{ static('js/theme-switcher.js') }}"></script>
        {% block head %}{% endblock %}
    </head>
    {% block body %}
    <body>
        {% block header %}
        <nav class="menu">
            <div class="container-lg flex justify-center items-end pbe-1 h-full gap-x-3">
                <a href="{{ path('marshal::home') }}" class="flex flex-col flex-center">
                    <i class="fa-regular fa-home"></i>
                    <span>Home</span>
                </a>
                <a href="{{ path('marshal::apps-dashboard') }}" class="flex flex-col flex-center">
                    <i class="fa-solid fa-app-store"></i>
                    <span>Apps</span>
                </a>
                <a href="{{ path('marshal::search') }}" class="flex flex-col flex-center">
                    <i class="fa-solid fa-search"></i>
                    <span>Search</span>
                </a>
                <a href="{{ path('marshal::reports-dashboard') }}" class="flex flex-col flex-center">
                    <i class="fa-solid fa-file-excel"></i>
                    <span>Reports</span>
                </a>
                <a href="{{ path('marshal::forms-index') }}" class="flex flex-col flex-center">
                    <i class="fa-brands fa-wpforms"></i>
                    <span>Forms</span>
                </a>
                <a href="{{ path('marshal::apps-dashboard') }}" class="flex flex-col flex-center">
                    <i class="fa-solid fa-file-import"></i>
                    <span>Import</span>
                </a>
                <a href="{{ path('marshal::tasks-dashboard') }}" class="flex flex-col flex-center">
                    <i class="fa-solid fa-tasks"></i>
                    <span>Tasks</span>
                </a>
                <a href="{{ path('marshal::system-page') }}" class="flex flex-col flex-center">
                    <i class="fa-solid fa-cog"></i>
                    <span>System</span>
                </a>
            </div>
        </nav>
        {% endblock %}
        <nav class="container-lg breadcrumb-container" aria-label="Breadcrumb">
	        {% block breadcrumb %}
	        {% endblock %}
        </nav>
        {% block main %}{% endblock %}
        <script src="{{ static('js/htmx.min.js' )}}"></script>
        <script src="{{ static('js/sorttable.js' )}}"></script>
        <script src="{{ static('js/tabs.js') }}"></script>
        {% block scripts %}{% endblock %}
    </body>
    {% endblock %}
</html>